@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0b0f19] text-slate-200 antialiased;
  }
}

/* Custom transitions and blurs */
.glass {
  @apply bg-slate-900/40 backdrop-blur-md border border-white/5 shadow-xl;
}

.table-header {
  @apply bg-slate-950/50 text-slate-400 uppercase text-[10px] font-black tracking-widest border-b border-slate-800;
}